<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vlasovs.fastshop">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".app.activities.SupportActivity"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:label="@string/custservice"
            android:parentActivityName=".app.activities.HomeActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".app.activities.CategoryActivity"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:label="@string/categories"
            android:parentActivityName=".app.activities.HomeActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".app.activities.WishActivity"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:label="@string/wishlist"
            android:parentActivityName=".app.activities.HomeActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".app.activities.CartActivity"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:label="@string/shopcart"
            android:parentActivityName=".app.activities.HomeActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".app.activities.ReviewActivity"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:label="@string/reviews"
            android:parentActivityName=".app.activities.ItemActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".app.activities.ItemActivity"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:label="@string/iteminfo"
            android:parentActivityName=".app.activities.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".app.activities.SearchActivity"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:label="@string/search"
            android:parentActivityName=".app.activities.HomeActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".app.activities.LoginActivity"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:label="@string/login"
            android:parentActivityName=".app.activities.HomeActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".app.activities.RegistrationActivity"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:label="@string/signup"
            android:parentActivityName=".app.activities.HomeActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".app.activities.HomeActivity"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>